<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"/>

    <h2>Подтверждение заказа</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="i : ${@cart.getItems()}">
            <td th:text="${i.product.title}"></td>
            <td><span th:text="'  ' + ${i.quantity} + '  '"/></td>
            <td th:text="${i.price}"></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{'/orders/confirm'}" method="post">
        <div class="form-group">
            <label>Номер телефона</label>
            <input th:value="${user.getPhone()}" class="form-control form-control-sm" name="phone">
        </div>
        <div class="form-group">
            <label>Адрес доставки</label>
            <input class="form-control form-control-sm" name="address">
        </div>
        <button type="submit" class="btn btn-primary">Подтвердить заказ</button>
    </form>
</div>
</body>
</html>